.mathinput {
	display: inline-block;
	border: 1px solid;
	padding: 3px;
	background-color: #ffffff;
	min-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	cursor: text;
}

/*this is what I'm using for integration with bootstrap
.mathinput {
	display: inline-block;
	background-color: #ffffff;
	height: auto;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	cursor: text;
}*/

.mathinput-error {
	border-color: #d9534f;
	background-color: #f2dede;
}

.mathinput span {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 1px 0px 0px;
	cursor: text;
}

.mathinput .empty-expression {
	background-color: #d9edf7;
	border: 1px solid #31708f;
}

.mathinput .empty-expression.cursor-inside {
	background-color: #dff0d8;
	border: 1px solid #3c763d;
}

.mathinput span.cursor {
	padding-right: 0px;
	border-right: 1px solid;
}

.mathinput .highlight {
	background-color: #c8e8ff;
}

.mathinput .superscript {
	position: relative;
	margin-right: -8px;
	left: -5px;
	font-size: 70%;
	vertical-align: 0.6em;
}

.mathinput .subscript {
	position: relative;
	margin-right: -8px;
	left: -5px;
	font-size: 70%;
	vertical-align: -0.6em;
}

.mathinput .division, .mathinput .numerator, .mathinput .denominator {
	padding: 0px 5px;    
}

.mathinput .division {
	text-align: center;
	vertical-align: -20px;
}

.mathinput .division.cursor {
	padding: 0px 4px 0px 5px;
}

.mathinput .denominator {
	border-top: 1px solid;
	display: block;
}

.mathinput .root {
	border-top: 1px solid;
}

.mathinput .root:before {
	content: "\221A";
}
