<div>
<div class="mathinput" tabindex="0" ng-keypress="control.keypress($event)" ng-keydown="control.keydown($event)"
		ng-focus="control.focus()" ng-blur="control.blur()">
	<span ng-class="{'cursor': (cursor.position === 0 && cursor.visible)}">&nbsp;</span><span
		class="literal" ng-repeat="node in expression.literal.tree.nodes track by $index"
		ng-class="{'cursor': (cursor.position === $index+1 && cursor.visible)}"
		ng-click="control.nodeClick($index)">{{node.getVal()}}</span>
	<input type="hidden" name="{{name}}" value="{{output.get()}}" />
</div>
<textarea cols="50" rows="10">{{output.get().openmath}}</textarea>
</div>
